.big {
    font-size: 30px;
}

.row {
    display: flex;
    border-bottom: solid 1px;
    padding: 20px;
}

.row:last-child {
    /* border-color: red; */
    border-bottom: 0;
}

.col {
    flex: 1;
}

.table {
    border: solid 1px;
    /* outline: solid 1px; */
    /* padding: 0 20px; */
}

body,
button,
input {
    font-family: Arial;
    font-size: 20px;
}

nav {
    display: flex;
    column-gap: 10px;
}

nav a {
    color: black;
}

nav a:hover {
    background-color: yellow;
}

.active {
    color: red
}