/* NAVIGATION */
nav {
    display: flex;
    background-color: #aaa;
    padding: 0 20px
}

nav a {
    color: black;
    padding: 20px;
}

nav a:hover {
    background-color: orange;
}

/* OTHER */

body {
    margin: 0;
}

body,
button,
input {
    font-family: Arial;
    font-size: 20px;
}

main {
    padding: 20px;
}

button,
input {
    padding: 10px 20px;
}

label {
    display: flex;
    flex-direction: column;
    margin: 20px 0
}

/* UTILITIES */

.mb-2 {
    margin-bottom: 20px;
}

.box {
    border: solid 1px;
    padding: 20px;
    background-color: #3c3c3c;
    color: white;
}

.table {
    border: solid 1px;
    background-color: beige;
}

.row {
    display: flex;
    border-bottom: solid 1px;
    padding: 20px;
}

.row:last-child {
    /* border-color: red; */
    border-bottom: 0;
}

.col {
    flex: 1;
    align-self: baseline;
}

.big {
    font-size: 30px;
}

.active {
    color: red
}